[bottle]
debug = False

[satzgenerator]
database=sqlite

[satzgenerator.sqlite]
file=satzgenerator.db

[satzgenerator.mysql]
user=satzgenerator
password=********
database=satzgenerator
host=127.0.0.1
