@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url(/style/GentiumBookBasic.woff) format('woff');
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
html, body {
 	height: 100%; /* The html and body elements cannot have any padding or margin. */
}
body {
	background-image: url(/style/hintergrund.jpg);
	background-repeat: repeat-x;
	background-color: #F5F6F7;
	padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
	font-family: 'Gentium Book Basic', Georgia, serif;
	font-size: 19px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Gentium Book Basic', Georgia, serif;
	font-weight: 500;
	line-height: 1.1;
}

#footer { display: none; } /* mobil nicht anzeigen */

.btn-fehler-404 { margin: 20px; }
textarea { resize:vertical; }

/* Aufzählung abschließend mit Überschrift */
ol { padding-left: 26px; }

/* erstmal ausblenden */
.modal-footer .text-success, .modal-footer .text-danger, .modal .checkbox { display: none }

.panel ul { margin-bottom: 0px; }
.navbar-form { margin-top: 7px; }

.navbar-brand { font-size: 32px; }

.panel-title {
	font-size: 24px;
	font-weight: bold;
}

.panel-body { font-size: 22px; }
.modal-title { font-size: 28px; }

ol { font-size: 22px; }

@media (max-width: 480px) {
	.panel-body {font-size: 18px;}
}

/* Landscape phone to portrait tablet */
@media(max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) {
.container {
	padding: 0 0 0 0;
}
body { padding-top: 80px; } /* oben mehr Abstand zum Menü */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
#footer {
	display: table;
	width: 100%;
	margin-top: 30px;
	height: 60px;
	background-color: #f0f0f0;
}

#footer p { font-size: 13px; }
.nav a { font-size: 16px; }

.credit {
	display: table-cell;
	vertical-align:middle;
	padding: 0 20px 0 20px;
}

.btn-fehler-404 { margin-top: 80px; }

.lead { font-size: 28px; }

}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) {
#footer p { font-size: 17px; }
.nav a { font-size: 20px; }
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) {
#footer p { font-size: 20px; }
}

@media(min-height: 900px) {
/* Scrollbar beim Modal nur, wenn nötig, also meist bei kleinen Bildschirmen */
.modal { overflow-y: auto; }
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
margin-right: 0px;
}
}