/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
html, body {
 	height: 100%; /* The html and body elements cannot have any padding or margin. */
}
body {
	background-image: url(/style/hintergrund.jpg);
	background-repeat: repeat-x; background-color: #F5F6F7;
	padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
}
#footer { display: none; } /* mobil nicht anzeigen */
.container {
	padding: 0 0 0 0;
}

.btn-fehler-404 { margin: 20px; }
textarea { resize:vertical; }

/* erstmal ausblenden */
.modal-footer .text-success, .modal-footer .text-danger { display: none }


@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media(max-width: 767px) {
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) {
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
#footer {
	display: table;
	width: 100%;
	margin-top: 30px;
	height: 60px;
	background-color: #f0f0f0;
}

#footer p {
	font-size: 12px;
}

.nav a {
	font-size: 15px;
}

.credit {
	display: table-cell;
	vertical-align:middle;
	padding: 0 20px 0 20px;
}

}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) {
#footer p, .nav a {
	font-size: 17px;
}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) {

}