@media all {
#content { text-align: center; margin-top: 20%; }
#permalink, #warnung { display:none; }
.btn-toolbar { margin-top: 2%; }

/* Responsive */
.progress { width:337px; margin-left:auto; margin-right:auto; }
.input-block-level { width:337px; margin-left:auto; margin-right:auto; }
#warnung { width:285px; margin-left:auto; margin-right:auto; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
.progress { width:268px; }
.input-block-level { width:268px; }
#warnung { width:214px; }
#content { margin-top: 0px; }
.hidden-480 { display: none; }
}